@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto; 


}
h1 { 
  margin: 0;
  padding: 20px;
  float: left;
    
  }
.Logo {
  font-size: 50px;
  color: #444;
} 
#header {
  /* height: 100vh;
  width: 100%; */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background:linear-gradient(to right, rgba(124,532,524,0.4),#55d6aa) ;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  display: flex;
  float: right;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  /* padding-left: 35rem; */
}



nav ul li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  list-style-type: none;
  margin: 10px 20px;
  
}

nav ul li a {
  color: #444;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  
}

nav a:hover {
  color: #000;
}
nav .fa-solid {
  display: none;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #444;

  position: absolute;
  /**/
  top: 0; 
  width: 0%;


  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.Logo:hover {
  color: #000;
}
.Logo::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: relative;
  top: 0;
  width: 0%;
  
  transition: all ease-in-out 250ms;
}
.Logo:hover::before {
  width: 100%;
}


#portfolio {
  padding: 50px 0; 

}
.sub-title {

  --s: 0.1em;   /* the thickness of the line */
  --c: #b300b3; /* the color */

  color: #ff004f;
  padding-bottom: var(--s); 
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.sub-title:hover {
  --_p: 100%
}

.work-lists {
  display: flex;  
  margin-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
  float: left;
 
}

.work-lists .work-item {
  width: 33.33333%;
  padding: 0 20px;

}

.work-item  .work-content .work-layer {
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
 
}

.work-item .work-content .work-layer:hover {
  transform: scale(1.05);
}

.work-content .work-layer img {
  width: 100%;
  height: 650px;
  border-radius: 20px;
}

.work-content .work-layer .layer {
  width: auto;
  height: 0;
  background: linear-gradient(rgba(128, 124, 124, 0.401),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;  
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  font-size: 1.4rem;
  transition: 0.5s;

  box-shadow: rgba(212, 208, 208, 0.3)  0px 19px 38px, rgba(231, 227, 227, 0.22) 0px 15px 12px;
}

.work-content .work-layer:hover .layer {
  height: 100%;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Poppins";
  color: #fff;
}

.layer a {
  margin-top: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: #ff004f;

  
}
.layer i {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 50px;
  

 
}
.layer i .Small-box .detail-infor {
  margin-left: 9rem;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  background-color:rgb(202, 190, 190);
  color: #000;


  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;  
  padding: 0 40px;
  font-size: 0.7rem;
  line-height: 20px;
  flex-direction: column;


  
  width: 50px;
  transition: 0.5s;

}
.layer .Small-box .detail-infor{
  /* box-shadow : offset-x || offset-y || offset blur  */
  box-shadow: 6px 12px 10px 2px     rgb(68, 46, 46);
  font-family: "Poppins";

}
.layer .box-icon i {
    border-radius: 50%;
    box-shadow: 2px 5px 10px 2px rgb(6, 6, 6);
}
.layer i:hover .detail-infor {
  height: 100px;
  
}
/*---Section---- */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  overflow: hidden;
  background: #2f2f2f;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #2f2f2f;
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.28) 0%, 
    rgba(255,255,255,0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px , 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12); 
  z-index: 1;
}
/* Text */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}
.picture-night {
  background: linear-gradient(225deg,#ed276d 0%,#784ba050 50%,#2b86c5 100%  );
}

/* button join */
.btn {

  display: block;
  padding: 10px 40px;
  /*Font of button */
  font-size: 1.1rem;
  font-weight: 700;

  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  color :#47045c;   

  background:rgba(255, 255, 255, 0.9); 
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.401);
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
} 
.btn:hover, .btn:focus, .btn:active , .btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
/* Set Keyframes de hoat dong  */
@keyframes gelatine {
  
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
/* Swiper */ 
.swiper {
  width: 250px;
  height:450px;
  padding: 50px 0 ;
}
.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

.swiper-slide span{
  position: absolute; 
  /*set up vi tri cho the span  */
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;

  border-radius: 20px;

  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;

  background: rgba(255,255,255,0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(0,0,0,0.4), inset -3.0px 3.0px 3.0px rgba(255, 255, 255,0.34);
  backdrop-filter: blur(74px);

}
.swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color:#fff; 
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4; 
  margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/phattran2409/Image_4U/blob/main/assets/Image/oil_painting1.jpg?raw=true")
      no-repeat 50% 50% / cover;
}
.swiper-slide:nth-child(2n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b6f5eb64-887c-43b1-aaba-d52a4c59a379")
      no-repeat 50% 50% / cover;
}
